
@{
    ViewBag.Title = "About Artelier";
}
<div class="profile-side-info">
    <div class="profile-pic-container">
        <img src="~/Resources/Artelier Avenue.jpg" class="thumbnail profile-pic" data-toggle="modal" data-target="#logo-modal" />
    </div>
    <div class="profile-basic-information">
        Date joined: <br />
        1 January 2020
        <hr />
        Website : <br />
        <a>wwww.artelieravenue.co.za</a>
        <hr />
        Social Media:
        <br />
        <i class="fab fa-facebook-square facebook-icon profile-icon"></i>
        <i class="fab fa-instagram instagram-icon profile-icon"></i>
    </div>
</div>
<div class="profile-main-info">
    <div class="">
        <h2 class="page-heading profile-heading">About Artelier Avenue</h2>
        <hr />

        <p class=" profile-paragraph">Lorem ipsum dolor sit amet, ex quo senserit indoctum suavitate. Ei mel animal tibique ocurreret, at soluta malorum debitis sit. Eu mel lorem movet voluptatibus, at augue falli laboramus mei. Partiendo democritum ut mei, dissentiet neglegentur cum at. Illum phaedrum oportere pri no, ne case inermis sea, fierent convenire delicatissimi eu nam. Pro ei aliquam reprehendunt, novum consulatu percipitur cu usu. Laboramus abhorreant per ne.</p>
        <p class=" profile-paragraph">Atqui iuvaret erroribus qui ut, mutat regione expetendis ad eos. Sea ad equidem honestatis, duo id timeam vivendo. Dolorum scriptorem intellegebat an vim, cum an illum vituperata adversarium, agam lorem ornatus cu sit. No forensibus constituto mea, est sale vivendo delectus an.</p>
        <p class=" profile-paragraph">Ei quis affert impetus mea, prima nusquam his no, no menandri molestiae vis. No accusam eleifend posidonium his, vix omittam scriptorem ex, ferri volutpat et sed. Ut nec placerat pertinax repudiare. Error integre qualisque vim ei, cum ne autem omnium luptatum. Eos at dicat delectus adipisci, ut eam legere feugait.</p>
    </div>
</div>
<hr />
<div class="profile-products ">
    <h3 class="page-heading">Top Products</h3>
    <div id="HotCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner multi-pic-carousel-inner">
            <div class="item active center-mult-pic-carousel">

                <div class="product-card">
                    <img class="section-img" src="https://via.placeholder.com/300" alt="New York" />
                    <div class="product-card-info">
                        <a class="product-card-info-name">Product Name</a><br />
                        <a class="product-card-info-designer">Product Designer</a><br />
                        <span class="product-card-info-price">R500.00</span><br />
                        <span class="product-card-icon glyphicon glyphicon-shopping-cart"></span>
                    </div>
                </div>

                <div class="product-card">
                    <img class="section-img" src="https://via.placeholder.com/300" alt="New York" />
                    <div class="product-card-info">
                        <a class="product-card-info-name">Product Name</a><br />
                        <a class="product-card-info-designer">Product Designer</a><br />
                        <span class="product-card-info-price">R500.00</span><br />
                        <span class="product-card-icon glyphicon glyphicon-shopping-cart"></span>
                    </div>
                </div>

                <div class="product-card">
                    <img class="section-img" src="https://via.placeholder.com/300" alt="New York" />
                    <div class="product-card-info">
                        <a class="product-card-info-name">Product Name</a><br />
                        <a class="product-card-info-designer">Product Designer</a><br />
                        <span class="product-card-info-price">R500.00</span><br />
                        <span class="product-card-icon glyphicon glyphicon-shopping-cart"></span>
                    </div>
                </div>

                <div class="product-card">
                    <img class="section-img" src="https://via.placeholder.com/300" alt="New York" />
                    <div class="product-card-info">
                        <a class="product-card-info-name">Product Name</a><br />
                        <a class="product-card-info-designer">Product Designer</a><br />
                        <span class="product-card-info-price">R500.00</span><br />
                        <span class="product-card-icon glyphicon glyphicon-shopping-cart"></span>
                    </div>
                </div>

            </div>
            <div class="item center-mult-pic-carousel">
                <div class="product-card">
                    <img class="section-img" src="https://via.placeholder.com/300" alt="New York" />
                    <div class="product-card-info">
                        <a class="product-card-info-name">Product Name</a><br />
                        <a class="product-card-info-designer">Product Designer</a><br />
                        <span class="product-card-info-price">R500.00</span><br />
                        <span class="product-card-icon glyphicon glyphicon-shopping-cart"></span>
                    </div>
                </div>

                <div class="product-card">
                    <img class="section-img" src="https://via.placeholder.com/300" alt="New York" />
                    <div class="product-card-info">
                        <a class="product-card-info-name">Product Name</a><br />
                        <a class="product-card-info-designer">Product Designer</a><br />
                        <span class="product-card-info-price">R500.00</span><br />
                        <span class="product-card-icon glyphicon glyphicon-shopping-cart"></span>
                    </div>
                </div>

                <div class="product-card">
                    <img class="section-img" src="https://via.placeholder.com/300" alt="New York" />
                    <div class="product-card-info">
                        <a class="product-card-info-name">Product Name</a><br />
                        <a class="product-card-info-designer">Product Designer</a><br />
                        <span class="product-card-info-price">R500.00</span><br />
                        <span class="product-card-icon glyphicon glyphicon-shopping-cart"></span>
                    </div>
                </div>

                <div class="product-card">
                    <img class="section-img" src="https://via.placeholder.com/300" alt="New York" />
                    <div class="product-card-info">
                        <a class="product-card-info-name">Product Name</a><br />
                        <a class="product-card-info-designer">Product Designer</a><br />
                        <span class="product-card-info-price">R500.00</span><br />
                        <span class="product-card-icon glyphicon glyphicon-shopping-cart"></span>
                    </div>
                </div>
            </div>
            <div class="item center-mult-pic-carousel">
                <div class="product-card">
                    <img class="section-img" src="https://via.placeholder.com/300" alt="New York" />
                    <div class="product-card-info">
                        <a class="product-card-info-name">Product Name</a><br />
                        <a class="product-card-info-designer">Product Designer</a><br />
                        <span class="product-card-info-price">R500.00</span><br />
                        <span class="product-card-icon glyphicon glyphicon-shopping-cart"></span>
                    </div>
                </div>

                <div class="product-card">
                    <img class="section-img" src="https://via.placeholder.com/300" alt="New York" />
                    <div class="product-card-info">
                        <a class="product-card-info-name">Product Name</a><br />
                        <a class="product-card-info-designer">Product Designer</a><br />
                        <span class="product-card-info-price">R500.00</span><br />
                        <span class="product-card-icon glyphicon glyphicon-shopping-cart"></span>
                    </div>
                </div>

                <div class="product-card">
                    <img class="section-img" src="https://via.placeholder.com/300" alt="New York" />
                    <div class="product-card-info">
                        <a class="product-card-info-name">Product Name</a><br />
                        <a class="product-card-info-designer">Product Designer</a><br />
                        <span class="product-card-info-price">R500.00</span><br />
                        <span class="product-card-icon glyphicon glyphicon-shopping-cart"></span>
                    </div>
                </div>

                <div class="product-card">
                    <img class="section-img" src="https://via.placeholder.com/300" alt="New York" />
                    <div class="product-card-info">
                        <a class="product-card-info-name">Product Name</a><br />
                        <a class="product-card-info-designer">Product Designer</a><br />
                        <span class="product-card-info-price">R500.00</span><br />
                        <span class="product-card-icon glyphicon glyphicon-shopping-cart"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <p class="profile-products-link">VIEW ALL PRODUCTS <span class=" 	glyphicon glyphicon-chevron-right"></span></p>
</div>

<!-- Modal -->
<div id="logo-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <img class="full-logo" src="~/Resources/Artelier Avenue.jpg" alt="logo" data-dismiss="modal" />
    </div>
</div>