
@{
    ViewBag.Title = "Sign In";
}
    <div class="border-container center">
        <div class="sign-in-container center">
            <form>
                <img class="center img-responsive" src="~/Resources/Logo edited.jpg" alt="Artelier Avenue Logo" />
                <div class="center">
                    <h2 class="page-heading">Sign In</h2>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control page-input center" placeholder="Enter email" id="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control page-input center" placeholder="Enter password" id="pwd">
                    </div>
                </div>
                <div class="custom-btn from-top">Sign in</div>
                <div class="custom-btn from-bottom">Register</div>
                <div>Can't log in? <a class="cool-link">Click Here</a> </div>
            </form>
        </div>
    </div>