
@{
    ViewBag.Title = "ARTELIER AVENUE | MARKETPLACE";
}
<div>
    <h2 class="page-heading">Marketplace</h2>
</div>

<hr />
<div class="container center">
    <div class="own-listing" id="mk-listing-btn">Make a new listing</div>
    <hr />
    <div class="listing">
        <img src="https://via.placeholder.com/300" alt="New York" />
        <div class="listing-infromation">
            <h4 class="listing-name alt-colour">Some shoes or something</h4>
            <div class="listing-type">Type: <span class="alt-colour">Resell</span></div>
            <div class="listing-price">R 500.00</div>
            <div class="listing-user">User:<a>Justin Michel</a></div>
        </div>
    </div>

    <div class="listing">
        <img src="https://via.placeholder.com/300" alt="New York" />
        <div class="listing-infromation">
            <h4 class="listing-name alt-colour">Some shoes or something</h4>
            <div class="listing-type">Type: <span class="alt-colour">Resell</span></div>
            <div class="listing-price">R 500.00</div>
            <div class="listing-user">User:<a>Justin Michel</a></div>
        </div>
    </div>

    <div class="listing">
        <img src="https://via.placeholder.com/300" alt="New York" />
        <div class="listing-infromation">
            <h4 class="listing-name alt-colour">Some shoes or something</h4>
            <div class="listing-type">Type: <span class="alt-colour">Resell</span></div>
            <div class="listing-price">R 500.00</div>
            <div class="listing-user">User:<a>Justin Michel</a></div>
        </div>
    </div>

    <div class="listing">
        <img src="https://via.placeholder.com/300" alt="New York" />
        <div class="listing-infromation">
            <h4 class="listing-name alt-colour">Some shoes or something</h4>
            <div class="listing-type">Type: <span class="alt-colour">Resell</span></div>
            <div class="listing-price">R 500.00</div>
            <div class="listing-user">User:<a>Justin Michel</a></div>
        </div>
    </div>
</div>

@section scripts {
    @*<script type="text/javascript">
        window.onscroll = function () { myFunction() };

        // Get the navbar
        var navbar = document.getElementById("mk-listing-btn");

        // Get the offset position of the navbar
        var sticky = navbar.offsetTop;

        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>*@  
}