
@{
    ViewBag.Title = "Artelier Avenue | Under Construction";
}

<h2 class="page-heading">Under Construction</h2>

<div>
    <div class="construction-div"></div>
    <div class="construction-text construction-icon"><i class="fas fa-tools"></i></div>
    <p class="construction-text ">This section is still under construction. Stay tuned.</p>
    <div class="construction-div"></div>
</div>